@import "tailwindcss";

html{
scroll-behavior:smooth;
}

body{
margin:0;
padding:0;
background:#0b1120;
color:white;
font-family:Inter,sans-serif;
}

.container{
max-width:1300px;
margin:auto;
padding:0 30px;
}